body{
	font-family : Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #5f6575;
	font-weight: normal;
	background: #cde9ff;
	margin:0px;
}
img {border:0px;}
a.price {font-size:14px; color:#900; font-family: arial; font-weight: bold;}
a.sellingPrice {font-size:12px; color:#900; font-family: arial; font-weight: bold; line-height:10px;}
a.itemName {font-size:14px;  font-family: arial; font-weight: bold;}
td.navbar {font-size:15px; color:#FFFFFF; font-family: arial; font-weight: bold; 
             text-align:center;text-decoration:none; padding-top:8px;}
a.navbar {font-size:20px; color:#FFFFFF; font-family: arial; font-weight: bold; 
             text-align:center;text-decoration:none; padding-top:8px;}
#cssdropdown, #cssdropdown ul {padding: 0; margin: 0; list-style: none;}
#divbg {width: 100%; height: 1100px; left: 0px; top: 0px; position: absolute; z-index: -10;}
#cssdropdown li {float: left;position: relative;}
.mainitems{list-style-type: none;}
.mainitems a{margin-left: 2px;margin-right: 2px;text-decoration: none; list-style-type: none;}
#cssdropdown li>ul {top: auto;left: auto;}
#cssdropdown li:hover ul, li.over ul {display: block;background:#FFFFFF; color:#0099FF;}
.dropdownpad{display: none;position: absolute;top: 30px;left:7px; width:180px; list-style:none;}
.dropdownpad li{display:inline; font-size:13px; font-weight:bold;border-top:0px; font-family:Arial; 
border-right:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2;border-left:1px solid #E2E2E2; line-height:20px;}
.dropdownpad li a{display:block; padding-left:12px; color:#666666; text-decoration:none; background:#F2F2F2; width:180px;
text-align:left;}			 
.dropdownpad li a:hover{background:#FFFFFF; color:#0099FF;}

div#RightComp{ margin: 0 0%;background: #cde9ff; width:170px;}
div#Item{ margin: 0 0%;background: #33FFFF; width:760px; height:auto;}
b.rtop, b.rbottom{display:block;background:#FFF;}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #cde9ff}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}
td.related {font-size:15px; color:#000; font-family: arial; font-weight: bold; width:145px; text-align:center;}
td.righttext {font-size:19px; color:#000; font-family: arial;}

table.delivery {font-size:12px; font-family:arial;font-weight: bold; margin:2px; padding:1px; width:690px;}
table.delivery td {text-align:left;}
 #continuebutton1 {
	width: 100px;
	height:28px;
	background: url(btn-continue.png) no-repeat;
	border: none;
	cursor: pointer;
	margin-left:5px;
	text-align: center;
}

 #continuebutton {
	width: 100px;
	height:28px;
	background: url(btn-continue.png) no-repeat;
	border: none;
	cursor: pointer;
	margin-top:5px;
	margin-left:605px;
	text-align: center;
}
 #confirmbutton {
	width: 180px;
	height:29px;
	background: url(btn-confirmorder.png) no-repeat;
	border: none;
	cursor: pointer;
	margin-top:8px;
	margin-bottom:5px;
	margin-left:300px;
	text-align: center;
}
#printbutton {
	width: 100px;
	height:28px;
	/*      background: url(/newtys/TyStore/Print.gif) no-repeat;*/
	background: url(btn-printpage.png) no-repeat;
	border: none;
	cursor: pointer;
	margin-top:5px;
	margin-left:605px;
	text-align: center;
}
 #continuepaypalbutton {
	width: 145px;
	height:42px;
	background: url(images/btn_xpressCheckout.gif) no-repeat;
	border: none;
	cursor: pointer;
	margin-top:5px;
	margin-left:605px;
	text-align: center;
}
 #continuepaypalbutton1 {
	width: 145px;
	height:42px;
	background: url(images/btn_xpressCheckout.gif) no-repeat;
	border: none;
	cursor: pointer;
	margin-top:5px;
	margin-left:30px;
	text-align: center;
}
td {color:#000000; font-weight:normal;}
td.tableHeader {color:#0071BC;font-weight:bold;}

#Errorcover {
display:none;
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
background:gray;
filter:alpha(Opacity=50);
opacity:0.5;
-moz-opacity:0.5;
-khtml-opacity:0.5
}
#Errordialog {
display:none;
left:400px;
top:200px;
width:400px;

position:absolute;
z-index:100;
background:white;
padding:10px;
font:10pt tahoma;
border:1px solid gray;
color:red;

-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 5px 5px 5px black;
-webkit-box-shadow: 5px 5px 5px black;
box-shadow: 5px 5px 5px black;

}